<body>

    <h3>Register here<h3>
    <form method="POST" action="/register">
      Email: <input type=email name=email>
      Password: <input type=password name=password>
      <input type=submit value=Register>
    </form>
</body>