<!DOCTYPE html>
<html lang="en">
<head><title>URL Shortener</title></head>
<body>

<% include ./partials/_header.ejs %>

    <% var mykeys = Object.keys(urls); %>
    <% mykeys.forEach(function(key){ %>
      <% if(key === shortURL){%>
        <% var out = shortURL + " = " + urls[key]%>
        <%= out %>
        <form method = "POST" action = "/test/update">
        <br>
        <br>
        ShortURL: <%=shortURL%><br>

        <input type="text" name="NewURL">
        <input type="hidden" name="shortURL" value=<%=key%>>
        <input type= "submit" value =Update>
        </form>


        <%}%>
      <%})%>
    <!-- Add your EJS code here -->

    <% %>
</body>
</html>